*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    width:100%;
}
:root{
    --primary:#F2BB16;
    --color-btn:#283FA8;
    --color-btn-2:#6C84F5;
    --color-btn-3:#253B73;
    --color-btn-4:#F5D36C;
}
body{
    padding:2rem 5rem;
    margin: auto;
    background-color: var(--primary) ;
}
header{
   text-align: center;
    width:80%;
    margin: 0rem 5rem;
}
main{
    display:flex;
    flex-wrap: wrap;
}
h1{
    
    font-family: 'Permanent Marker', cursive, sans-serif;
}
/* BUTTONS */

#btn_select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:15%;
    height:20rem;
    
    
}
.btn-choice{
    height:6rem;
    margin:2rem 0rem;
    border: 2px solid var(--color-btn);
    border-radius: 6px;
    background-color: var(--color-btn-2);
    color: var(--color-btn-4);
    font-family:'Permanent Marker', cursive, sans-serif;
    
}
.btn-choice:hover{
    background-color: var(--color-btn-3);
    transform:scale(1.1);
}


/* BATTLE DIV */

#battle_display{
    width:70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:4%;
    padding:0rem 3rem;
}
.render-box{
    height:10rem;
    width:10rem;
    border: 2px solid #000;
    background-size: contain;
    
}
#versus{
    background-image: url(/assets/img/versus_logo.png);
    background-color: none;
    background-size: contain;
    background-repeat: no-repeat ;
    border:none;
}
#player_choice{
    background-color: #FFE28A;
    background-size: contain;
    background-repeat: no-repeat ;
    background-position: center;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
}
#computer_choice{
    background-color: #FFE28A;
    background-size: contain;
    background-repeat: no-repeat ;
    background-position: center;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
}


/* SCORE DIV */
#score{
    display: flex;
    justify-content: space-evenly;
    
    
  
}
#restart{
    width: 5rem;
    height: 5rem;
    border: 2px solid var(--color-btn);
    border-radius: 6px;
    background-color: var(--color-btn-2);
    color: var(--color-btn-4);
    font-family:'Permanent Marker', cursive, sans-serif;
}
#restart:hover{
    background-color: var(--color-btn-3);
    transform:scale(1.1);
}
#fight{
    width: 5rem;
    height: 5rem;
    border: 2px solid var(--color-btn);
    border-radius: 6px;
    background-color: var(--color-btn-2);
    color: var(--color-btn-4);
    font-family:'Permanent Marker', cursive, sans-serif;
}
#fight:hover{
    background-color: var(--color-btn-3);
    transform:scale(1.2);
}

/* ----------- VICTORY PART ---------*/

#victory_line{
    font-family:'Permanent Marker', cursive, sans-serif;
    font-size: 3.5rem;
    margin-top: 1rem;
}
.scoreboard {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 300px;
	font-family: 'Quicksand', sans-serif;
}
